{% include 'layout.html' %}

<div class="container">
    <div class="card text-center">
        <div class="card-header">
            All Tweets
        </div>
        <div class="card-body">
            <h5 class="card-title">Chronological Feed</h5>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Tweet</th>
                        <th scope="col">Username</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tweet in tweets %}
                    {% if tweet.liked == False %}
                    <tr class="pointer">
                        <td>{{tweet.new_tweet}}</td>
                        <td>{{tweet.owner}}</td>
                        <td>
                            <button onclick="window.location.href='like/{{tweet.id}}'"
                                    type="button" class="btn btn-success">Like</button>
                            <button onclick="window.location.href='edit_tweet/{{tweet.id}}'"
                                    type="button" class="btn btn-info">Retweet</button>
                        </td>
                    </tr>
                    {% else %}
                    <tr class="pointer alert alert-success">
                        <td>{{tweet.new_tweet}}</td>
                        <td>{{tweet.owner}}</td>
                        <td>
                            <button onclick="window.location.href='like/{{tweet.id}}'"
                                    type="button" class="btn btn-success">Remove Like</button>
                            <button onclick="window.location.href='edit_tweet/{{tweet.id}}'"
                                    type="button" class="btn btn-info">Retweet</button>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-primary" href="add_tweet">Tweet Something Yourself!</a>
        </div>
    </div>
</div>
